*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/hall.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.television{
    position: relative;
    top: 150px;
    margin: auto;
    border: 10px solid #000;
    width: 50vw;
    height: 45vh;
    background-color: #808080;
}
.switch-container{
    position: absolute;
    bottom: 200px;
    right: 350px;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}
.btn-power{
    padding: 10px;
}
.controllers{
    position: relative; 
    top: 135px;
    left: 300px;
    width: 250px;
    height: 250px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.controllers button{
    cursor: no-drop;
    height: 40px;
}
.volume-controller, .pgm-controller{
    display: flex;
    border: 2px solid #000000;
    flex-direction: column;
    justify-content: space-between;
}
.channel-number{
    position: absolute;
    right: 0;
    border: 3px solid #f5deb3;
    background-color: #f5deb3;
}
.volume{
    position: absolute;
    left: 0;
    top:0;
    border: 3px solid #f5deb3;
}